RITS_VISION_API_KEY=paste-your-rits-api-key-here
RITS_VISION_API_ENDPOINT=https://inference-3scale-apicast-production.apps.rits.fmaas.res.ibm.com/qwen3-vl-235b-a22b-thinking
RITS_VISION_MODEL_ID=Qwen/Qwen3-VL-235B-A22B-Thinking
